body {
    margin: 0;
    padding: 21;
    background-color: #141414;
    color: #bfbfbf;
    overflow: hidden;
}
a {
    color: #4e9af1;
}
ul {
    position: relative;
    z-index: 2;
}
.link-list {
    margin: 0;
    padding: 20px;
    list-style: none;
}
.link-list li {
    margin: 10px 0;
}
.link-list a {
    color: #4e9af1;
    text-decoration: none;
}
.link-list a:hover {
    text-decoration: underline;
}
.conent {
    margin-top: 30px;
}
.button-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    z-index: 2;
}
.button-container button {
    padding: 10px 20px;
    background-color: #3A8E8E;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
}
footer {
    margin-top: 50px;
    font-size: 12px;
    color: gray;
    text-align: left;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px;
    z-index: 2;
}
.footer-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
footer p {
    margin: 0;
}
footer a {
    color: #007BFF;
    text-decoration: none;
}
.animated-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    border: solid 2px #fff;
    letter-spacing:  1px;
    font-weight: 600;
    font-size: 14;
    background-color: rgba(88, 101, 242, 1);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
    z-index: 2;
}
button:active {
    transform: scale(.9);
    transition: all 100ms ease;
}
button svg {
    transition: all .5s ease;
    z-index: 2;
}
.play {
    transition: all .5s ease;
    transition-delay: 300ms;
}
button:hover svg {
    transform: scale(1.3) translate(-40%);
}
.now {
    position: absolute;
    left: 0;
    transform: translateX(290%);
    transition: all .5s ease;
    z-index: 2;
}
button:hover .now {
    transform: translateX(90%);
    transition-delay: 300ms;
}
button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
}
/* From Uiverse.io by Dennyhml */ 
.bubble {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
    z-index: 1;
    animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(2) {
    position: relative;
    zoom: 0.45;
    left: -10px;
    top: -100px;
    animation-delay: -4s;
}

.bubble:nth-child(3) {
    position: relative;
    zoom: 0.45;
    right: -80px;
    top: -300px;
    animation-delay: -6s;
}

.bubble:nth-child(4) {
    position: relative;
    zoom: 0.35;
    left: -120px;
    bottom: -200px;
    animation-delay: -3s;
}

.bubble:nth-child(5) {
    position: relative;
    zoom: 0.5;
    left: 0px;
    top: 200px;
    animation-delay: -5s;
}

@keyframes animate_4010 {
    0%,100% {
    transform: translateY(-20px);
    }

    50% {
    transform: translateY(20px);
    }
}

.bubble::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
}

.bubble span {
    position: absolute;
    border-radius: 50%;
}

.bubble span:nth-child(1) {
    inset: 10px;
    border-left: 15px solid #0fb4ff;
    filter: blur(8px);
}

.bubble span:nth-child(2) {
 inset: 10px;
 border-right: 15px solid #ff4484;
    filter: blur(8px);
}

.bubble span:nth-child(3) {
    inset: 10px;
    border-top: 15px solid #ffeb3b;
    filter: blur(8px);
}

.bubble span:nth-child(4) {
    inset: 30px;
    border-left: 15px solid #ff4484;
    filter: blur(12px);
}

.bubble span:nth-child(5) {
    inset: 10px;
    border-bottom: 10px solid #fff;
    filter: blur(8px);
    transform: rotate(330deg);
}